.chance {
	position: relative;
	.chance__wrapper-img-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		&::after {
			content: "";
			height: 100%;
			width: 100%;
			background: #603809;
			opacity: 0.8;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	.chance__img-bg {
		object-fit: cover;
	}
	.chance__wrapper-img-grains {
		position: absolute;
		top: 0;
		right: -125px;
		bottom: 0;
		z-index: -1;
	}
	.chance__wrapper {
		display: flex;
		align-items: center;
		column-gap: clamp(100px, 18vw, 225px);
	}
	.chance__offer {
		color: var(--light-color);
		text-align: left;
		padding: clamp(80px, 15vw, 135px) 0;
	}
	.chance__title {
		color: inherit;
		text-align: inherit;
		margin-bottom: 22px;
	}
	.chance__description {
		font-weight: 400;
		font-size: 20px;
		line-height: 170%;
		margin-bottom: 22px;
	}
	.chance__img {
		height: clamp(360px, 36vw, 467px);
		width: auto;
	}
}
@media (max-width: 991px) {
	.chance {
		.chance__wrapper {
			column-gap: 200px;
		}
	}
}
@media (max-width: 869px) {
	.chance {
		.chance__wrapper {
			column-gap: 170px;
		}
	}
}

@media (max-width: 779px) {
	.chance {
		.chance__wrapper {
			column-gap: 100px;
		}
	}
}
@media (max-width: 640px) {
	.chance {
		.chance__wrapper {
			column-gap: 50px;
		}
		.chance__img {
			height: 280px;
			width: auto;
		}
	}
}
@media (max-width: 558px) {
	.chance {
		.chance__wrapper {
			column-gap: 10px;
		}
	}
}
@media (max-width: 465px) {
	.chance {
		.chance__wrapper {
			column-gap: 0;
		}
		.chance__img {
			display: none;
		}
	}
}
@media (max-width: 350px) {
	.chance {
		.chance__wrapper-img-grains {
			display: none;
		}
	}
}
