{
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"endOfLine": "lf",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"parser": "html",
				"htmlWhitespaceSensitivity": "ignore"
			}
		}
	]
}
