.cards {
	height: fit-content;
	border: 1.5px solid #452809;

	padding: 15px;
}
.cards + .cards {
	margin-top: 25px;
}
.cards__card {
	display: flex;
	column-gap: 18px;
	row-gap: 25px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
@media (max-width: 478px) {
	.cards__card {
		justify-content: center;
	}
}

.cards__img {
	max-height: clamp(100px, 15vw, 180px);
	width: auto;
}

.cards__name {
	font-size: clamp(16px, 3vw, 24px);
}

.cards__btn-order {
	padding: clamp(24px, 3vw, 28px);
}
.cards__btn-remove {
	color: #fff;
	background-color: #e44848;
}
.cards__btn-remove:hover {
	color: #fff;
	background-color: #fc8888;
}
