/* body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	color: #707070;
}

.main {
	flex: 1 0 auto;
	width: 100%;
	padding: 40px 20px;
	margin-top: clamp(60px, 10vw, 100px);
} */

.header.basket {
	background-color: #452809;
}

.title-shopping {
	margin-bottom: 30px;
}

.basket__null {
	font-size: clamp(12px, 2vw, 18px);
	color: #707070;
}

.basket__img {
	height: 100%;
	max-height: 580px;
	margin-top: 25px;
}

.btn-order {
	min-width: 80%;
	margin: 25px auto 0;
}
.basket__btn-order-everything {
	min-width: 100%;
	margin-bottom: 25px;
}

/* + Modal: */

.modal__wrapper-additives {
	width: 100%;
	max-width: clamp(200px, 90vw, 1000px);
}
.modal__wrapper-elements {
	width: inherit;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}
@media (max-width: 977px) {
	.modal__wrapper-elements {
		justify-content: center;
	}
}
.modal__additives {
	width: 100%;
	max-width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 10px 20px 10px 10px;
	border: #fff solid 1.5px;
}
@media (max-width: 400px) {
	.modal__additives {
		flex-wrap: wrap;
	}
}
.modal__additives-text {
	font-size: clamp(12px, 1.5vw, 14px);
}
.modal__wrapper-img {
	width: 100%;
	max-width: 120px;
}
.modal__img {
	width: clamp(90px, 8vw, 120px);
	height: auto;
}
.modal__wrapper-btn {
	width: inherit;
	display: flex;
	justify-content: space-between;
}
.modal__btn-cancellation {
	color: #fff;
	background-color: #e44848;
}
.modal__btn-cancellation:hover {
	color: #fff;
	background-color: #fc8888;
}
