@import "./reset.css";

:root {
	--primary-font: "Playfair Display", serif, Arial, Helvetica;
	--contrast-font: "Clicker Script", serif, Arial, Helvetica;
	--light-color: #fff;
	--light-theme-bg: #603809;
	--light-theme-title: #707070;
	--light-theme-text: #fffefc;
	--light-background-elements-bg: #fff9f1;

	--dark-theme-bg: #6d6d6d;
	--dark-theme-title: #db9662;
	--dark-theme-text: #eeeeee;
	--dark-background-elements-bg: #484848;

	--btn-bg: #f9c06a;
	--modal-bg: #75340e;
	--modal-hover: #993f1b;

	--frequent-font-size: clamp(12px, 1.5vw, 20px);
}

html {
	scroll-behavior: smooth;
}

body {
	height: fit-content;
	font-family: var(--primary-font) !important;
	color: var(--light-theme-title);
	font-size: var(--frequent-font-size);
	text-align: center;
	transition:
		color,
		background 0.5s;
	&.dark {
		background: var(--dark-theme-bg);
		color: var(--dark-theme-text);
		.title,
		.subtitle,
		.response__quotation-marks {
			color: var(--dark-theme-title);
		}
		.priorities__description {
			color: var(--dark-theme-text);
		}
		.response__wrapper {
			background: var(--dark-background-elements-bg);
			transition: 0.5s;
		}
		.ignore-dark-theme {
			color: inherit;
		}
	}
}

.hidden {
	overflow: hidden;
}

.main {
	overflow: hidden;
}

.wrapper {
	height: fit-content;
	overflow: hidden;
}

.container {
	height: 100%;
}
@media (min-width: 1200px) {
	.container {
		max-width: 1210px;
		padding: 0 15px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 1210px;
	}
}
@media (min-width: 576px) {
	.container {
		max-width: 1210px;
	}
}

.section {
	margin-bottom: clamp(50px, 7vw, 82px);
}

.dark-theme-bg {
	color: var(--dark-theme-text) !important;
	background-color: var(--dark-theme-bg);
	transition: 0.5s;
}
.dark-theme-text-title {
	color: var(--dark-theme-title) !important;
	transition: 0.5s;
}
.dark-theme-text {
	color: var(--dark-theme-text) !important;
}
.light-background-elements-bg {
	background-color: var(dark-background-elements-bg) !important;
	transition: 0.5s;
}

.title {
	color: var(--light-theme-bg);
	font-size: clamp(25px, 4vw, 54px);
	font-weight: 700;
	text-align: center;
	margin-bottom: 16px;
}

img {
	height: 100%;
	width: 100%;
}
.img-bg {
	z-index: -10 !important;
}
@media (max-width: 1169px) {
	.img-bg {
		opacity: 0.4;
	}
}

.btn {
	height: clamp(38px, 5vw, 48px);
	max-width: clamp(110px, 12vw, 150px);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 24px;
	box-shadow: 0 6px 12px 0 rgba(249, 192, 106, 0.22);
	background: #f9c06a;
	transition: 0.5s;
	line-height: 1.3;
	padding: 0 26px;

	color: #1e1e1e;
	font-size: clamp(12px, 1.2vw, 16px);
	font-weight: 700;
	text-transform: capitalize;
	white-space: nowrap;
	overflow: hidden;
	&:hover {
		background: #fdcc83;
		transition: 0.5s;
	}
}

.modal {
	height: 100vh;
	width: 100%;
	display: none;
	justify-content: center;
	transition: 0.5s;
	align-items: center;
	z-index: 2000;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	.modal__wrapper {
		height: fit-content;
		max-height: 85vh;
		width: 380px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		background-color: var(--modal-bg);
		overflow: auto;
		color: var(--light-color);
		font-size: 16px;
		font-weight: 400;
		text-align: left;
		padding: 50px 30px;
	}
	.modal__text {
		line-height: 1.3;
	}
	.modal__wrapper-input {
		width: 100%;
		position: relative;
	}
	.modal__label {
		background-color: var(--modal-bg);
		padding: 2px 7px;
		position: absolute;
		top: -10px;
		left: 13px;
	}
	.modal__input {
		width: 100%;
		color: inherit;
		background-color: var(--modal-bg);
		border: 1px solid var(--light-color);
		padding: 9px 18px;
		&:focus {
			background: #993f1b;
		}
		&:user-valid {
			border-color: #18e273;
		}
		&:user-invalid {
			border-color: #ff0000;
		}
	}
	.modal__btn {
		min-height: 48px;
	}
	.modal__link {
		background: none;
		color: inherit;
		cursor: pointer;
	}
	.modal__link::after {
		content: "";
		height: 1px;
		width: 100%;
		display: block;
		background-color: var(--light-color);
		margin-top: 5px;
	}
	.modal__wrapper-link {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}
@media (max-width: 410px) {
	.modal {
		.modal__wrapper {
			width: 280px;
			padding: 40px 20px;
		}
	}
}
.modal-area-active {
	display: flex;
	animation: fadeIn 0.5s forwards;
	backdrop-filter: blur(4px);
}
.modal-message-active {
	display: flex;
	animation: fadeIn 0.5s forwards;
	align-items: start;
	margin-top: 45px;
}
.modal__wrapper-border {
	background-color: #341f17;
	border: 1.5px solid var(--light-color);
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
