.modal__wrapper-additives {
	width: 100%;
	max-width: clamp(200px, 90vw, 1000px);
}
.modal__wrapper-elements {
	width: inherit;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	padding: 15px;
}
@media (max-width: 977px) {
	.modal__wrapper-elements {
		justify-content: center;
	}
}
.modal__additives {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 10px 20px 10px 10px;
	border: #fff solid 1.5px;
}
@media (max-width: 400px) {
	.modal__additives {
		flex-wrap: wrap;
	}
}
.modal__additives-text {
	font-size: clamp(12px, 1.5vw, 14px);
}
.modal__wrapper-img {
	width: 100%;
	max-width: 120px;
}
.modal__img {
	width: clamp(90px, 8vw, 120px);
	height: auto;
}
.modal__wrapper-btn {
	width: inherit;
	display: flex;
	justify-content: space-between;
}
.modal__btn-cancellation {
	color: #fff;
	background-color: #e44848;
}
.modal__btn-cancellation:hover {
	color: #fff;
	background-color: #fc8888;
}
